.layout {

font-family: PT Astra Sans;
  
width: 100%; margin: 0; margin-top: 30;

height: 100%;

top: 30vh;

position: relative;

float: right;

font-family: 'Raleway', Arial, sans-serif;
  font-weight: 500;

}


.layout #sidebar {

font-family: PT Astra Sans;
  
width: 1%; margin: 0; margin-top: 0;

height: 1%;

top: 1vh;

position: relative;

float: left;

}
