.layout {
display: block;
  
font-family: PT Astra Sans;
  
width: 80%; 

margin: 15; 

margin-top: 85;

height: 99%;

top: 95 vh;
}

.layout #sidebar {  
font-family: PT Astra Sans;
  
width: 20%; margin: 15; margin-top: 60;

position: relative;

float: left;

top: 70 vh;
}
