.layout {
display: block;
  
font-family: PT Astra Sans;
  
width: 80%; margin: 5; margin-top: 40;

height: 99%;

top: 50 vh;

}

.layout #sidebar {
  
font-family: PT Astra Sans;
  
width: 20%; margin: 5; margin-top: 30;

position: relative;

float: left;

top: 50 vh;
}
