.layout {
display: flex;

font-family: PT Astra Sans;
  
width: 100%; margin: 0; margin-top: 30;

height: 100%;

top: 30vh;

font-family: 'Raleway', Arial, sans-serif;
  font-weight: 500;

}

.layout #main-content	 {

font-family: PT Astra Sans;
  
width: 20%; margin: 0; margin-top: 0;

position: relative;

float: right;

}

.layout #sidebar {

font-family: PT Astra Sans;
  
width: 20%; margin: 0; margin-top: 0;

position: relative;

float: left;

}
