.layout {

font-family: PT Astra Sans;
  
width: 100%; margin: 0px; margin-top:400px;

height: 100%;

top: 100hv;

position: relative;

float: right;

font-family: 'Raleway', Arial, sans-serif;
  font-weight: 500;

}


.layout #sidebar {

font-family: PT Astra Sans;
  
width: 5%; margin: 1px; margin-top:230px;

height: 10%;

top: 100hv;

position: relative;

float: left;

}
