.layout {

font-family: PT Astra Sans;
  
width: 100%; margin: 0; margin-top: 30;

height: 100%;

top: 30vh;

font-family: PT Astra Sans;
  font-weight: 500;

}

.main-content	 {

font-family: PT Astra Sans;
  
width: 20%; margin: 0; margin-top: 30;

position: relative;

float: right;

}

.sidebar {

font-family: PT Astra Sans;
  
width: 20%; margin: 0; margin-top: 30;

position: relative;

float: left;

}
